<footer>
  <div class="container">
    <mat-grid-list cols="4" rowHeight="2rem" >
      <mat-grid-tile>
        <h1 class="title-2">2015 Cove Point</h1>
      </mat-grid-tile>
      <mat-grid-tile></mat-grid-tile>
      <mat-grid-tile></mat-grid-tile>
      <mat-grid-tile>
        <h1 class="title-2 has-text-right">May 14th, 2022</h1>
      </mat-grid-tile>
    </mat-grid-list>
    <mat-grid-list cols="4" rowHeight="2rem" >
      <mat-grid-tile>
        <h1 class="title-2">LaFollette, TN 37766</h1>
      </mat-grid-tile>
    </mat-grid-list>
</div>
</footer>
<!-- <footer id="footer-main">
    <div class="footer-grid">
          <section class="footer-1" style="justify-self: start; padding-left: 8vw;">
            <h4>2015 Cove Point,</h4>
            <h4>LaFollette, TN 37766</h4>
          </section>
         <section class="footer-3" style="justify-self: end; padding-right: 8vw;">
           <h4>May 14th, 2022</h4>
         </section>
     </div>
  </footer> -->