<div class="bg">
    <div class="container has-text-centered" style="padding-top: 5rem; padding-bottom: 3rem;">
        <h1 class="title">SCHEDULE</h1>
        <p class="title-1">Here's what to expect during our wedding weekend. <br>
            We can't wait to celebrate with you!</p>
        <p style="border-bottom: solid; padding-top: 3rem; "></p>
    </div>
    <div class="container has-text-centered">
        <h1 class="title-1" style="padding-bottom: 1rem;">SATURDAY, MAY 14, 2022</h1>
        <mat-grid-list cols="2" rowHeight="20rem" class="has-text-centered">
            <div >
                <mat-grid-tile class="left">
                    <p>
                        <span class="title-1">CEREMONY</span><br><br>
                        <span class="title-2">6:00 PM</span>
                    </p>
                </mat-grid-tile>
                <mat-grid-tile>
                    <h1 class="title-2">ANDREW<br>SMITH</h1>
                </mat-grid-tile>
            </div>
        </mat-grid-list>
        <mat-grid-list cols="2" rowHeight="25rem" class="has-text-centered">
            <div >
                <mat-grid-tile class="left">
                    <p>
                        <span class="title-1">RECEPTION</span><br><br>
                        <span class="title-2">6:30 PM</span>
                    </p>
                </mat-grid-tile>
                <mat-grid-tile>
                    <h1 class="title-2">ANDREW<br>SMITH</h1>
                </mat-grid-tile>
            </div>
        </mat-grid-list>
    </div>
</div>