.bg {
    background-color: hsl(0, 0%, 21%);
    color: hsl(0, 0%, 96%);
    padding-bottom: 5rem;
}
.wedding-info {
    background-color: hsl(0, 0%, 21%);
    color: hsl(0, 0%, 96%);
}
.title {
    letter-spacing: 2.5px;
    font-family: 'Questrial', sans-serif;
    color:hsl(0, 0%, 96%);
    font-size: 4vw;
    
}
.title-1 {
    letter-spacing: 2.5px;
    font-family: 'Questrial', sans-serif;
    color:hsl(0, 0%, 96%);
    font-size: 2vw;
}
.title-2 {
    letter-spacing: 2px;
    font-family: 'Questrial', sans-serif;
    color:hsl(0, 0%, 96%);
    font-size: 1.5vw;
}
.title-3 {
    letter-spacing: 1.5px;
    font-family: 'Questrial', sans-serif;
    color:hsl(0, 0%, 96%);
    font-size: 1vw;
}
.has-text-centered {
    text-align: center !important;
  }
.left {
    border-right-style: solid;
    border-width: .1rem;
}
/* .container {
    border-top-style: solid;

} */