<div class="bg">
    
    <div class="container has-text-centered decor">
        <div style="padding-top: 7%">
            <h1 class="title">WE'RE GETTING</h1>
            <h1 class="title">MARRIED!</h1>
        </div>
    </div>

    <mat-grid-list cols="3" class="has-text-centered">
        <div style="padding-top: 12%">
            <mat-grid-tile>
                <h1 class="title-2">CHERA<br>ALWINE</h1>
            </mat-grid-tile>
            <mat-grid-tile>
                <h1 class="title-3">AND</h1>
            </mat-grid-tile>
            <mat-grid-tile>
                <h1 class="title-2">ANDREW<br>SMITH</h1>
            </mat-grid-tile>
        </div>
    </mat-grid-list>
    
</div>

