<div class="has-text-centered">
    <h1 class="title-1">How We Met</h1><br>
    <p class="title-2">We met online through a dating app,<br>
                       and it took a few weeks before we were <br> 
                       brave enough to meet in person. <br>
                       When it finally happened, we decided <br>
                       to meet for ice cream and to take a walk <br>
                       in the local park.  I was so neverous <br>
                       that I started shaking, but she just <br>
                       kept smiling at me and it encouraged me <br>
                       on.  It didn't take long for us to realize <br>
                       that we had something, and we have been <br>
                       inseparable ever since.

    </p>
</div>
