.customDiv {
    background-color: hsl(0, 0%, 21%);
}
.crop {
    
    
    padding: 5% 15% 5%;
}
.container {
    margin: auto;
    padding: 2rem; 
    max-width: 50%;
    overflow: hidden;
}
.slideCrop {
    padding-left: -10px;
}